
<div class="index-buttons-container">
<h2>Welcome to Team Tracker</h2>
<%= button_to 'REGISTER', register_path, class: "nav_button index_button", method: :get %>

<%= button_to 'LOGIN', login_path, class: "nav_button index_button", :method => :get %>
</div>

